# Base de données
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=mfr_care
POSTGRES_PORT=51214

# URL de connexion pour Prisma
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# URL pour la connexion entre conteneurs Docker
DATABASE_URL_DOCKER="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"